/* .app-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1200px;


}

.app-wrapper-content {
    grid-area: c;
    background-color: cornflowerblue;
    padding: 10px;

} */
@tailwind base;
@tailwind components;
@tailwind utilities;
